@import "tailwindcss";

@theme {
  --color-queen-blue: #3572a5;
  --color-diamond: #c4ebf3;
  --color-azureish-white: #d9eef7;
  --color-lapis-lazuli: #1f6d93;
  --color-chinese-silver: #cccccc;
  --color-anti-flash-white: #f3f4f6;
  --color-auro-metal: #6a7282;
  --color-red: #e7000b;
  --color-green: #5bb85b;
}
